<div class="semana-cabecalho">
  <po-button p-icon="an an-caret-left" p-kind="tertiary" p-size="small" (p-click)="semanaAnterior()"></po-button>
  <span class="semana-periodo">{{ labelPeriodo() }}</span>
  <po-button p-icon="an an-caret-right" p-kind="tertiary" p-size="small" (p-click)="semanaSeguinte()"></po-button>
  <po-button p-label="Hoje" p-kind="secondary" p-size="small" (p-click)="hoje()"></po-button>
</div>

<div class="semana-grid">
  <div class="semana-coluna-horas">
    <div class="semana-dia-cabecalho"></div>
    @for (hora of horas; track hora) {
      <div class="semana-linha-hora" [style.height.px]="alturaHoraPx">{{ hora }}h</div>
    }
  </div>

  @for (dia of diasDaSemana(); track dia; let i = $index) {
    <div class="semana-coluna-dia">
      <div class="semana-dia-cabecalho">
        <div class="semana-dia-nome">{{ diasSemanaLabel[i] }}</div>
        <div class="semana-dia-numero">{{ dia.getDate() }}</div>
      </div>

      <div class="semana-coluna-corpo" [style.height.px]="alturaHoraPx * horas.length">
        @for (hora of horas; track hora) {
          <div class="semana-linha-hora" [style.height.px]="alturaHoraPx"></div>
        }

        @for (evento of eventosPorDia()[i]; track evento.agendamento.seq) {
          <div
            class="semana-evento"
            [style.top.px]="evento.top"
            [style.height.px]="evento.altura"
            [style.background]="evento.cor"
            [title]="evento.agendamento.tecnico">
            <strong>{{ evento.agendamento.hini }}</strong> {{ evento.agendamento.cliente || ('Chamado ' + evento.agendamento.chamado) }}
          </div>
        }
      </div>
    </div>
  }
</div>
