<po-page-default p-title="Agenda dos Técnicos">
  <div class="cns009-filtros">
    <po-datepicker-range p-label="Selecione o período" [(ngModel)]="periodo" name="periodo"></po-datepicker-range>
    <po-button p-label="Buscar" p-icon="an an-magnifying-glass" [p-loading]="loading" (p-click)="buscar()"></po-button>
  </div>

  @if (loading) {
    <p class="cns009-cronometro">Buscando... {{ segundosDecorridos }}s</p>
  }

  @if (erro) {
    <p class="cns009-erro">{{ erro }}</p>
  }

  <po-table [p-columns]="columns" [p-items]="items" [p-loading]="loading" p-sort="true"></po-table>
</po-page-default>
